{% extends 'base/base.html' %}
{% load static %}

{% block conteudo %}
<!-- Start revolution slider -->
<div class="rev-slider-long">
  <div class="rev_slider_wrapper fs-slider-wrap">
    <div id="rev_slider" class="rev_slider">
      <ul>
        <!-- Slide 1 -->
        <li data-delay="5000" data-transition="slidingoverlayleft" data-slotamount="7" data-masterspeed="2500" data-fsmasterspeed="1000" class="bg-black">

          <!-- Main image-->
          <img src="{% static 'img/home.jpg' %}" alt="" data-bgposition="top left" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

          <!-- Layer 1 -->
          <div class="slide-title tp-caption tp-resizeme text-center text-lg-left"
               data-x="['left','left','center','center']" data-hoffset="['35','35','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-145','-145', '-150', '-350']"
               data-fontsize="['65','65', '60', '125']"
               data-fontweight="700"
               data-lineheight="['70','70', '70', '135']"
               data-width="['1200','991','650']"
               data-height="none"
               data-color="#fff"
               data-whitespace="normal"
               data-transform_idle="o:1;"
               data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
               data-frames='[{"delay":0,"speed":4500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-start="500"
               data-responsive_offset="on"
               data-elementdelay="0.05">Já ouviu falar em transformação<br>       digital.
          </div>

          <!-- Layer 2 -->
          <div class="tp-caption rev-btn tp-resizeme slider-btn primary-button no-rounded"
               id="slide-1081-layer-14"
               data-x="['left','left','center','center']" data-hoffset="['35','35','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-15','-15','0','0']"
               data-fontsize="['15','15','15','15']"
               data-fontweight="500"
               data-lineheight="['50','50','50','50']"
               data-width="['200','200','200','200']"
               data-height="none"
               data-whitespace="nowrap"
               data-start="1500"
               data-type="button"
               data-actions='[{"event":"click","action":"scrollbelow","offset":"-70px","delay":"","speed":"2500","ease":"Power1.easeInOut"}]'
               data-responsive_offset="on"
               data-splitin="none"
               data-splitout="none"
               data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:110%;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
               data-textAlign="['center','center','center','center']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"
               style="">Leia Mais
          </div>
        </li>

        <!-- Slide 2 -->
        <li data-delay="5000" data-transition="slidingoverlayleft" data-slotamount="7" data-masterspeed="2500" data-fsmasterspeed="1000" class="bg-black">

          <!-- Main image-->
          <img src="{% static 'img/home.jpg' %}" alt="" data-bgposition="top left" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

          <!-- Layer 1 -->
          <div class="slide-title tp-caption tp-resizeme text-center text-lg-left"
               data-x="['left','left','center','center']" data-hoffset="['35','35','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-145','-145', '-150', '-350']"
               data-fontsize="['65','65', '60', '125']"
               data-fontweight="700"
               data-lineheight="['70','70', '70', '135']"
               data-width="['1200','991','650']"
               data-height="none"
               data-color="#fff"
               data-whitespace="normal"
               data-transform_idle="o:1;"
               data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_in="x:50px;y:0px;s:inherit;e:inherit;"
               data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
               data-frames='[{"delay":0,"speed":4500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
               data-start="500"
               data-responsive_offset="on"
               data-elementdelay="0.05">Desenvolvendo Estratégias Inovadoras <br> conquistando resultados<br>
          </div>

          <!-- Layer 2 -->
          <div class="tp-caption rev-btn tp-resizeme slider-btn primary-button no-rounded"
               id="slide-1081-layer-15"
               data-x="['left','left','center','center']" data-hoffset="['35','35','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="['-15','-15','0','0']"
               data-fontsize="['15','15','15','15']"
               data-fontweight="500"
               data-lineheight="['50','50','50','50']"
               data-width="['200','200','200','200']"
               data-height="none"
               data-whitespace="nowrap"
               data-start="1500"
               data-type="button"
               data-actions='[{"event":"click","action":"scrollbelow","offset":"-70px","delay":"","speed":"2500","ease":"Power1.easeInOut"}]'
               data-responsive_offset="on"
               data-splitin="none"
               data-splitout="none"
               data-frames='[{"delay":1100,"speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;fbr:100;","to":"o:1;fb:0;fbr:100;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;fbr:100;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"200","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;fb:0;fbr:110%;","style":"c:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
               data-textAlign="['center','center','center','center']"
               data-paddingtop="[0,0,0,0]"
               data-paddingright="[0,0,0,0]"
               data-paddingbottom="[0,0,0,0]"
               data-paddingleft="[0,0,0,0]"
               style="">Leia Mais
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End revolution slider -->

<!--Features START-->
<div class="features-slider">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12">
        <div class="feature-box-5 emphasised">
          <i class="icon-tag2"></i>
          <h4>SERVIÇOS</h4>
          <p>Com nossos conhecimentos e experiências para atender e exceder suas expectativas, oferecemos uma gama de serviços personalizados. Saiba como podemos lhe ajudar a alcançar suas metas e resultados. Entre em contato conosco.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="feature-box-5">
          <i class="icon-flag3"></i>
          <h4>PROJETOS</h4>
          <p>Conduzimos projetos desde o inicio da empresa. Em cada um deles, providenciamos a orientação necessária para que pudessem superar seus desafios e construírem estratégias eficazes e duradouras. Confira mais detalhes sobre meu trabalho.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <div class="feature-box-5">
          <i class="icon-wallet"></i>
          <h4>CLIENTES</h4>
          <p>Nos comprometemos em oferecer aos clientes, um serviços de consultoria profissional personalizado. Acreditamos na força de parcerias sólidas, por isso nos orgulhamos do crescimento de nosso portfólio de clientes. Veja a lista abaixo para saber quem são.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Features END-->

<!--Parallax Section START-->
<div class="section-block-parallax" style="background-image: url("/static/img/home.jpg");">
  <div class="container">
    <div class="section-heading center-holder white-color">
      <span>À procura de consultores com conhecimento tecnologicos de grandes empresas ?</span>
      <h2><strong>Planejar, organizar e executar ações efetivas dentro da sua empresa, abrindo novas tendências de negócio e aumentando as margens de mercado. Esse é o nosso compromisso.</strong></h2>
      <h4>Nossos consultores irão ajudá-lo</h4>
      <a href="about.html" class="position-relative dark-button button-md mt-10">Conheça nos</a>
    </div>
  </div>
</div>
<!--Parallax Section END-->

<!--FAQ and About Section START-->
<div class="section-block-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-12">
        <div class="section-heading">
          <h4>Sobre nós</h4>
          <div class="section-heading-line-left"></div>
        </div>
        <div class="text-content-big mt-20">
          <p>Prestamos serviços de consultoria profissional para clientes de Bragança Paulista e regiões. Conduzimos projetos desde o planejamento estratégico a soluções inovadoras, nosso foco sempre será construir um relacionamento com nossos clientes e orientá-los e direciona-los para um resultados de sucesso.</p>
        </div>
        <div class="mt-25">
          <a href="contact.html" class="primary-button button-sm mb-15-xs">Contate nos</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-12">
        <div class="section-heading">
          <h4>FAQ</h4>
          <div class="section-heading-line-left"></div>
        </div>
        <!-- Accordions START -->
        <div class="accordion border-bottom-0" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default accordion">
            <div class="panel-heading accordion-heading" role="tab" id="headingOne">
              <h4 class="panel-title accordion-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Where can I get access to Capital IQ?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </div>
            </div>
          </div>
          <div class="panel panel-default accordion">
            <div class="panel-heading accordion-heading" role="tab" id="headingTwo">
              <h4 class="panel-title accordion-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Where can I find market research reports?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>

          <div class="panel panel-default accordion">
            <div class="panel-heading accordion-heading" role="tab" id="headingThree">
              <h4 class="panel-title accordion-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How do I get access to case studies?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body accordion-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </div>
          </div>
        </div>
        <!-- Accordions END -->
      </div>
    </div>
  </div>
</div>
<!--FAQ and About Section END-->

<!-- Notice Section START -->
<div class="notice-section-grey notice-section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <div class="mt-5">
          <h6>Looking for Professional Approach and Quality Services ?</h6>
          <div class="section-heading-line-left"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="mt-10 right-holder-md">
          <a href="#" class="primary-button button-sm mt-15-xs">Contact Us Today</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Notice Section END -->
{%endblock%}
