{% extends 'base/base.html' %}
{% load static %}
{% block conteudo %}

<!-- Page Title START -->
<div class="page-title-section" style="background-image: url(img/servicos3.png);">
  <div class="container">
    <h1>Serviços</h1>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
    </ul>
  </div>
</div>
<!-- Page Title END -->


<!-- Service Boxes START -->
<div class="section-block">
  <div class="container">
    <div class="section-heading center-holder">
      <span>Tenha sucesso conosco!</span>
      <h3>Soluções tecnologicas de primeiro mundo</h3>
      <div class="section-heading-line"></div>
      <p>Desenvolvemos serviços de consultoria personalizados que atendam às necessidades específicas de nossos clientes. Saiba quais serviços ofereçemos e entre em contato para alcançarmos juntos os seus objetivos.</p>
    </div>
    <div class="row mt-50">
      <div class="col-md-4 col-sm-4 col-12">
        <div class="service-simple">
          <img src="http://via.placeholder.com/250x245" alt="img">
          <div class="service-simple-inner">
            <h4>BIGDATA</h4>
            <p>Governança de dados é uma metodologia que tem como propósito a coordenação, orientação e definição de regras para a criação, coleta e uso de dados para proteger e garantir segurança no armazenamento de dados de uma empresa, garantindo que eles não sejam acessados de forma indiscriminada, havendo regras de acesso e autorizações claras e explícitas.
Atualmente, diversas empresas utilizam recursos tecnológicos para melhorar seu desempenho e suas ações no dia-a-dia. A governança de dados leva mais agilidade, segurança, produtividade às empresas e pode ser usada principalmente para melhorar processos internos, ajudar na tomada de decisão estratégica e reduzir custos operacionais.
DataLake - Ingestão de dados, Transformação, limpeza, regras de negocio;
Apresentação - DataBricks, Synapse, Power BI</p>
            <div class="service-simple-button">
              <a href="#">Leia Mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12">
        <div class="service-simple">
          <img src="http://via.placeholder.com/250x245" alt="img">
          <div class="service-simple-inner">
            <h4>PLANEJAMENTO ESTRATÉGICO</h4>
            <p>O conceito de planejamento estratégico se refere a um processo sistêmico que permite definir o melhor caminho a ser seguido por uma organização, para atingir um ou mais objetivos, dentro de um contexto previamente analisado. Isso se faz analisando cenários, definindo metas e ações que permitirão chegar onde se deseja.</p>
            <div class="service-simple-button">
              <a href="#">Leia Mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12">
        <div class="service-simple">
          <img src="http://via.placeholder.com/250x245" alt="img">
          <div class="service-simple-inner">
            <h4>MARKETING DIGITAL</h4>
            <p>Marketing digital são ações de comunicação que as empresas podem utilizar por meio da internet, da telefonia celular e outros meios digitais, para assim divulgar e comercializar seus produtos ou serviços, conquistando novos clientes e melhorando a sua rede de relacionamentos.</p>
            <div class="service-simple-button">
              <a href="#">Leia Mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12">
        <div class="service-simple">
          <img src="http://via.placeholder.com/250x245" alt="img">
          <div class="service-simple-inner">
            <h4>PROTEÇÃO DE DADOS (LGPD)</h4>
            <p>Com a nova Lei Geral de Proteção de Dados (LGPD), tornou-se fundamental que as empresas tenham ferramentas para evitar o vazamento de informações corporativas, intencionalmente ou por acidente.
Como as ferramentas do Microsoft 365 recebem e enviam informações essenciais a todo momento, foram desenvolvidos recursos de prevenção de perda de dados, conhecidos também como DLP (sigla em inglês para Data Loss Prevention).
Uma das vantagens é que essa proteção está disponível tanto nas versões desktop quanto online das soluções Microsoft, como SharePoint Online e OneDrive Online. Recentemente, foi estendida também para incluir mensagens de canal e chat do Microsoft Teams.
Com uma política DLP no Centro de Conformidade & Segurança do Office 365, você pode identificar, monitorar e proteger automaticamente as informações confidenciais no Microsoft 365.</p>
            <div class="service-simple-button">
              <a href="#">Leia Mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12">
        <div class="service-simple">
          <img src="http://via.placeholder.com/250x245" alt="img">
          <div class="service-simple-inner">
            <h4>IoT - INTERNET DAS COISAS</h4>
            <p>Da captura de dados à manutenção preventiva: Uma infinidade de conexões para seus negócios, capaz de estabelecer a comunicação com objetos e usuários através de sensores e plataformas inteligentes para garantir maior produtividade e acompanhamento de informações em tempo real. IoT permite a ligação de dispositivos à Internet utilizando software incorporado e sensores para comunicar, recolher e compartilhar dados uns com os outros. A Internet das Coisas combina conectividade com sensores, dispositivos e pessoas, permitindo uma forma de conversação livre entre homem e máquina, software e hardware.
De acordo com o relatório “IoT na AL&C”, realizado pela Associação Brasileira de Internet das Coisas (ABINC), os negócios com IoT chegarão à US$ 3,3 bilhões em 2021. Ainda segundo o estudo, os dispositivos conectados também aumentarão exponencialmente, chegando a 415,7 milhões em 2023.</p>
            <div class="service-simple-button">
              <a href="#">Leia Mais</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12">
        <div class="service-simple">
          <img src="http://via.placeholder.com/250x245" alt="img">
          <div class="service-simple-inner">
            <h4>CONSULTORIA EM PROCESSOS</h4>
            <p>A consultoria de processo é uma ação pertinente e que auxilia as empresas a encontrarem erros no fluxo interno, que podem gerar transtornos. Além disso, o mapeamento de cada área possibilita a otimização nas atividades de cada colaborador, que contribuem, inclusive, para o aumento do faturamento</p>
            <div class="service-simple-button">
              <a href="#">Leia Mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service Boxes END -->


<!-- Notice Section START -->
<div class="notice-section-grey notice-section-sm border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-12">
        <div class="mt-5">
          <h6>Procurando por abordagem profissional e serviços de qualidade ?</h6>
          <div class="section-heading-line-left"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-12">
        <div class="mt-10 right-holder-md">
          <a href="#" class="primary-button button-sm mt-15-xs">Contate-nos hoje mesmo</a>
        </div>
      </div>
    </div>
</div>
<!-- Notice Section END -->
{%endblock%}